{% extends 'store/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-5">
    <h2>Checkout</h2>
    <form method="post">
    {% csrf_token %}
    {{ form|crispy }}

        <!-- Stripe Payment Button -->
        <script 
            src="https://checkout.stripe.com/checkout.js" class="stripe-button" 
            data-key="{{ stripe_public_key }}" 
            data-amount="{{ cart.get_total_price|floatformat:2|floatformat:0|add:'0'|multiply:'100' }}"
            data-name="M2 Collection"
            data-description="Order {{ order.id }}"
            data-email="{{ user.email }}"
            data-currency="usd"
            data-label="Pay with Stripe">
        </script>
    </form>
</div>
{% endblock %}