{% extends 'store/base.html' %}
{% load static %}

{% block content %}

<div class="container mt-5">
    <h2> Order Details </h2>
    <p><strong> Order ID: </strong> {{ order.id }}</p>
    <p><strong> Placed By: </strong> {{ order.first_name }} {{ order.last_name }}</p>
    <p><strong> Email: </strong> {{ order.email }}</p>
    <p><strong> Address: </strong> {{ order.address }}, {{ order.city }}, {{ order.postal_code }}</p>
    <p><strong> Created: </strong> {{ order.created }}</p>
    <p><strong> Updated: </strong> {{ order.updated }}</p>
    <p><strong> Status: </strong> {% if order.paid %} Paid {% else %} Not Paid {% endif %}</p>
    <h4 class="mt-4"> Items </h4>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Product</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total Price</th>
            </tr>
        </thead>

        <tbody>
            {% for item in order.items.all %}
                <tr>
                    <td>{{ item.product.name }}</td>
                    <td>${{ item.price }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>${{ item.get_cost }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="3" class="textend"> <strong> Total: </strong> </td>               
                <td> <strong> ${{ order.get_total_cost }} </strong> </td>
            </tr>
        </tbody>
    </table>   
    <a href="{% url 'store:product_list' %}" class="btn btnprimary"> Continue Shopping </a>    
</div>

{% endblock %}