{% extends 'store/base.html' %}
{% load static %}

{% load crispy_forms_tags %}
{% block title %} Product List {% endblock %}
{% block content %}

<div class="container mt-5">
    <h2>Products</h2>

    <!-- Search Form -->
    <form method="get" class="d-flex mb-4">
        <input type="text" name="q" class="form-control me-2" placeholder="Search products..." value="{{ query }}">
        <button type="submit" class="btn btn-outlinesuccess">Search</button>
    </form>

    <!-- Category Filters -->
    <div class="mb-4">
        <h5>Filter by Category</h5>

        <ul class="list-inline">
            <li class="list-inline-item">
                <a href="{% url 'store:product_list' %}" 
                    class= "btn btn-sm {% if not selected_category %} btn-primary 
                                            {% else %} btnoutline-primary
                                        {% endif %}"> All </a>
            </li>

            {% for category in categories %}
                <li class="list-inline-item">
                    <a href="?category={{ category.slug }}"
                    class="btn btn-sm {% if selected_category == category.slug %}btn-primary
                    {% else %}btn-outline-primary{% endif %}">{{ category.name }}</a>
                </li>
            {% endfor %}               
        </ul>
    </div>

    <!-- Product Grid -->
    <div class="row">
        {% for product in products %}

        <div class="col-md-4 mb-4">
            <div class="card h-100">
                {% if product.image %}
                    <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                {% else %}
                    <img src="{% static 'store/images/no_image_available.png' %}" class="card-img-top" alt="No image">
                {% endif %}

                <div class="card-body d-flex flex-column">
                    <h5 class="cardtitle">{{ product.name }}</h5>
                    <p class="cardtext">${{ product.price }}</p>
                    <a href="{{ product.get_absolute_url }}" class="mt-auto btn btn-primary">View Details</a>
                </div>
            </div>
        </div>
        {% empty %}
            <p>No products found.</p>
        {% endfor %}            
    </div>


    <!-- Pagination Controls -->
    <nav aria-label="Product pagination">
        <ul class="pagination justify-content-center">

            {% if products.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ products.previous_page_number }}
                    {% if query %}&q={{ query }}{% endif %}{% if selected_category %}&category={{ selected_category }}
                    {% endif %}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>

            {% else %}
                <li class="page-item disabled">
                    <span class="page-link" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </span>
                </li>
            {% endif %}

            {% for num in products.paginator.page_range %}
                {% if products.number == num %}
                    <li class="page-item active">
                        <span class="pagelink">{{ num }}</span>
                    </li>
                {% elif num > products.number|add:'-3' and num < products.number|add:'3' %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ num }}{% if query %}&q={{ query }}
                        {% endif %}{% if selected_category %}&category={{ selected_category }}{% endif %}">{{ num }}</a>
                    </li>
                {% endif %}
            {% endfor %}

            {% if products.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ products.next_page_number }}{% if query %}&q={{ query }}
                    {% endif %}{% if selected_category %}&category={{ selected_category }}{% endif %}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <span class="page-link" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </span>
                </li>
            {% endif %}
        </ul>
    </nav>

</div>

{% endblock %}

